/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #151a30;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1057%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(21%2c 26%2c 48%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c425.061C78.383%2c419.65%2c123.915%2c335.617%2c180.979%2c281.609C227.469%2c237.608%2c263.813%2c189.01%2c302.937%2c138.347C354.812%2c71.173%2c449.147%2c20.424%2c448.219%2c-64.444C447.307%2c-147.871%2c356.691%2c-198.854%2c298.594%2c-258.734C243.789%2c-315.221%2c192.674%2c-377.357%2c118.659%2c-404.116C42.128%2c-431.785%2c-42.465%2c-433.472%2c-120.456%2c-410.236C-198.271%2c-387.052%2c-259.332%2c-331.883%2c-316.687%2c-274.411C-377.813%2c-213.16%2c-440.289%2c-150.021%2c-463.368%2c-66.622C-488.07%2c22.64%2c-503.012%2c129.706%2c-449.424%2c205.245C-395.935%2c280.645%2c-280.827%2c267.137%2c-197.782%2c307.755C-127.502%2c342.129%2c-78.05%2c430.449%2c0%2c425.061' fill='%23121628'%3e%3c/path%3e%3cpath d='M1440 1008.864C1528.908 1019.548 1624.931 1013.355 1699.245 963.392 1773.056 913.767 1793.959 819.0799999999999 1837.574 741.566 1885.827 655.808 1985.171 581.005 1969.021 483.938 1952.827 386.60699999999997 1837.179 344.586 1761.074 281.788 1697.858 229.625 1635.154 182.61700000000002 1561.154 147.38600000000002 1474.367 106.06700000000001 1386.921 39.10400000000004 1292.855 58.872000000000014 1198.061 78.793 1133.115 167.14299999999997 1080.409 248.413 1032.3229999999999 322.55899999999997 1024.8609999999999 411.131 1008.1279999999999 497.906 990.495 589.35 937.183 687.36 979.8 770.1659999999999 1022.447 853.03 1135.199 862.6410000000001 1217.9279999999999 905.5509999999999 1291.9 943.919 1357.265 998.922 1440 1008.864' fill='%23181e38'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1057'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

header {
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 0;
  display: block;
  width: 98%;
}

.btn {
  margin: 0 5px;
  text-align: center;
}

 .btn-submit{
  background-color: #36f!important;
  color: #fff;
}
 .btn-delete{
  background-color: #f75f1e!important;
  color: #fff;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin: 0;
    padding: 0px 20px 20px 20px;
  }

  a{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    &:hover {
      background: #fff;
      color: #ed3330 !important;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
    }
  }
}
